<!DOCTYPE html>
<html>
<head>
  <title>GoalKeeper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= link_to 'My Goals', goals_path %>

	<%= link_to 'My Rewards', rewards_path %>

<%= yield %>

</body>
</html>
